
/*
+outliane make it darker 
-Fonts for entire page 
+zipcode - make it smoler 
-state outline? maybe fix it with shaow box
+top border for second formset 
-formating second section 
-checkbox style 
-radiobutton style 
-submit button
-text area
-empty field - reqaried 


*/

* {

  box-sizing: border-box;

}

p {
    font-family: "Times New Roman", Times, serif;
}


.header{
  background-color: #2e3946;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.header h2 {
  margin-top: 0;
  padding: 28px 10px;
  text-align: center;
}

.discr {
  display: block;
  text-align: center;
  border-bottom: 5px groove #2e3946;
  width: 90%;
  margin: 15px auto 3px;
  
}

.Contact_Information {
  width: 90%;
  margin: 0 auto 15px;
  border: none;
  border-top: 2px groove #2e3946;
  }

.Newsletter {
    width: 90%;
    border: none;
    margin: 0 auto 15px;
    border-top: 2px groove #2e3946; 
 }

.Contact_Information h2 {
  padding-bottom: 5px;
}

#name,
 #email,
 #tel,
 #city,
 #address,
 #post_code,
 #state {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    display: block;
    padding: 15px;
    width: 98%;
    background-color: #f0f4f4;
    color: #8a97a0;
    margin: 15px auto;
    margin-left: 0;
    border-radius: 5px;
  }

#post_code {
    width: 120px;
    margin-left: 0;
}
   #state{
    width: 98%;
  }


input:focus,
textarea:focus
select:focus {
     box-shadow: 0 0 0 1pt #041529;
 };

 /* -----Style for checkbox*/


input[type="checkbox"]{
    width: 50px;

}

