

#name,
 #email,
 #tel,
 #city,
 #address,
 #post_code,
 #state {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    display: block;
    padding: 15px;
    width: 80%;
    background-color: #f0f4f4;
    color: #8a97a0;
    margin: 15px auto;
    border-radius: 5px;
  }

  input {

  }

 label {
    margin-left: 7%;
}

input:focus,
textarea:focus{
     box-shadow: 0 0 0 1pt #4f6581;
 };